body {
  font-family: Arial, sans-serif;
  background: #111;
  color: #fff;
  text-align: center;
}

input, select, button {
  padding: 10px;
  margin: 5px;
}

button {
  cursor: pointer;
}

.card {
  border: 1px solid #444;
  padding: 10px;
  margin: 10px;
}

img {
  width: 200px;
  border-radius: 5px;
}

a {
  color: gold;
  text-decoration: none;
}
